<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title – Тест Qulix</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery-ui.js"></script>

    <link rel="stylesheet" href="~/css/jquery-ui.css">

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

    @Styles.Render("~/Content/css")

</head>
<body>

    @Html.Partial("_NavBar")

    @RenderBody()

    @RenderSection("Scripts", required: false)

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.card.item').forEach(card => {
                card.querySelectorAll('.details-trigger').forEach(btn => {
                    btn.addEventListener('click', () => {
                        card.querySelectorAll('.details').forEach(details => {
                            details.classList.toggle('d-md-none');
                        });
                    });
                });
            });
        });
    </script>
</body>
</html>
