@using QulixTest.Helpers;

@{
    ViewBag.Title = "Главная";
}


<div class="page my-3 info">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3 mb-md-0 d-flex align-items-center">
                            <div class="h1">Статистика</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row mt-3">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="item-head text-center">Информация о компаниях</h4>

                            <hr>

                            <div class="item-content"><span class="title">Самая большая компания</span><span class="content">@StatisticHelper.GetNameOfBiggestCompany()</span></div>
                            <div class="item-content"><span class="title">Кол-во компаний</span><span class="content">@StatisticHelper.GetCountOfCompanies()</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="item-head text-center">Информация о работниках</h4>

                            <hr>

                            <div class="item-content"><span class="title">Кол-во работников</span><span class="content">@StatisticHelper.GetCountOfEmployees()</span></div>
                            <div class="item-content"><span class="title">Кол-во тестировщиков</span><span class="content">@StatisticHelper.GetCountOfTesters()</span></div>
                            <div class="item-content"><span class="title">Кол-во разработчиков</span><span class="content">@StatisticHelper.GetCountOfDevelopers()</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
